body {
  text-align: center;
  margin: 50px;
  padding: 10px;
  background-color: #282c34;
  color: rgb(214, 41, 41);
}
#calculator {
  max-width: 300px;
  margin: auto;
  border: 2px solid #61dafb;
  padding: 10px;
  box-shadow: 0 0 10px rbg(0, 0, 0, 0.5);
  background-color: yellow;
  
}

input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5%;
  outline: none;
  background-color: lightblue;
  color: red;
}

#content{
  background-color: aqua;
  padding: 20px;
  border-radius: 10px;
}

